.App {
  text-align: center;
}
.mainComponent {
  background-color: rgba(48, 32, 17, 0.3);
}
.App-logo {
  height: 40vmin;
}
body td {
  text-align: center;
  width: 10rem;
  border: 1px solid black;
}
body {
  background-color: rgb(189, 128, 70);
  background-image: url("./img/test-pattern.png");
  background-size: cover;
  min-width: 660px;
}
.date-picker-inline {
  color: white;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.DatePicker :hover {
}
